.table {
  position: relative;
  width: 100%;
  background: #fff;
  word-break: break-word;

  * {
    box-sizing: border-box;
  }

  &-scrollable {
    height: 100%;
  }

  &-content {
    width: 100%;
    overflow-y: hidden;
    overflow-x: auto;
    background: inherit;
  }

  &-scroll {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  &-fixed-left {
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    background: inherit;
  }

  &-fixed-right {
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    background: inherit;
  }

  &-header {
    width: 100%;
  }

  &-scrollable-header {
    flex: 0 0 auto;
  }

  &-body {
    width: 100%;
  }

  &-scrollable-body {
    flex: 1;
    overflow-x: hidden;
    overflow-y: auto;
  }

  &-header-table, &-body-table {
    width: 100%;
    table-layout: fixed;
  }
}