.table {
  position: relative;
  width: 100%;

  * {
    box-sizing: border-box;
  }

  &-content {
    position: relative;
    width: 100%;
  }

  &-scroll {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow-x: auto;
  }

  &-fixed-left {
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
  }

  &-fixed-right {
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    flex-direction: column;
  }

  &-scrollable-body {
    height: 100%;
  }

  &-header {
    flex: 0 0 auto;
  }

  &-body {
    flex: 1;
    overflow-x: hidden;
    overflow-y: auto;
  }

  &-header-table, &-body-table {
    width: 100%;
    table-layout: fixed;
  }

  td, th {
    border-bottom: 1px solid #91d5ff;
    border-left: 1px solid #91d5ff;
  }
}